.footer-container {
    background-color: #22aaff;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', monospace;
    border-radius: 10px;
    transition: backkground-color 0.3 ease;
}
.footer-container:hover {
    background-color: #5adef0;
}
.footer-emoji {
    display: inline-block;
    transition: transform 0.3s ease;
}
.footer-container:hover .footer-emoji {
    transform: rotate(360deg);
}