.header-container {
    background-color: rgb(43, 138, 160);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Comic Sans MS' , sans-serif;
    border-radius: 15px;
    transition: backkground-color 0.3 ease;
}

.header-container:hover {
    background-color: #87eedd;
}
.header-emoji {
    display: inline-block;
    transition: transform 0.3s ease;
}
.header-container:hover .header-emoji {
    transform: rotate(360deg);
}
